body {
    height:100%
}

@media (min-width: 1100px) {
    .text-mask {
        width: 750px;
    }

    .left-area {
        left: 0px;
        text-align: center;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 0px;
    }

    .right-area {
        right: 0px;
        text-align: center;
        position: fixed;
        height: 100%;
        width: 40%;
        top: 0px;
    }

    .arrow {
        top: 45%;
        cursor: pointer;
        height: 150px;
        width: 150px;
        line-height: 150px;
        margin: auto;
        font-size: 80px;
    }

    .arrow:hover {
        background-color: #dddddd;
    }
}

@media (max-width: 1099px) {
    .text-mask {
        width: 100%;
    }

    .left-area {
        display: none;
    }

    .right-area {
        display: none;
    }
}



/*@media (min-width: 768px) {*/
    /*.container {*/
        /*width: 750px*/
    /*}*/
    /*.background-img {*/
        /*display:block;*/
        /*height:100%;*/
        /*width: auto;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.container {*/
        /*width: 970px*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 1170px*/
    /*}*/
    /*.background-img {*/
        /*display:block;*/
        /*height:100%;*/
        /*width: auto;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/
/*}*/